<!-- wp:template-part {"slug":"header","tagName":"header"} /-->
<!-- wp:pattern {"slug":"quantumfashion/banner"} /-->
<!-- wp:pattern {"slug":"quantumfashion/stats-section"} /-->
<!-- wp:pattern {"slug":"quantumfashion/why-choose-us"} /-->
<!-- wp:pattern {"slug":"quantumfashion/best-selling-products"} /-->
<!-- wp:pattern {"slug":"quantumfashion/product-hub"} /-->
<!-- wp:pattern {"slug":"quantumfashion/latest-products"} /-->
<!-- wp:pattern {"slug":"quantumfashion/testimonials"} /-->
<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->